html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: coral;
}

html {
  font-family: "helvetica neue", sans-serif;
}

.nav {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: burlywood;
  margin: 0 10px;
  line-height: 70px;
}

span {
  color: #54D17A;
}

label {
  padding: 0 20px 0 20px;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 48em) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    position;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  #toggle:checked + .menu {
    display: block;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?1kxqq2");
  src: url("fonts/icomoon.eot?1kxqq2#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?1kxqq2") format("truetype"), url("fonts/icomoon.woff?1kxqq2") format("woff"), url("fonts/icomoon.svg?1kxqq2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spotify:before {
  content: "\ea94";
  color: black;
}

.icon-twitter:before {
  content: "\ea96";
  color: black;
  margin-right: 5px;
}

.icon-youtube:before {
  content: "\ea9d";
  color: black;
}

.icon-steam2:before {
  content: "\eaad";
  color: black;
  margin-right: 5px;
}

.icon-github:before {
  content: "\eab0";
  color: black;
  margin-right: 5px;
}

.icon-brand79:before {
  content: "\ead8";
  color: black;
}

.icon-play:before {
  content: "\e912";
  color: black;
}

html {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

body {
  max-width: 600px;
  margin: auto;
  color: black;
  padding-right: 1em;
  padding-left: 1em;
}

form {
  margin: auto;
}

.dalkur {
  width: 100%;
}

table, th, td {
  border: 1px solid grey;
  background: white;
  padding: 8px;
  border-collapse: collapse;
  margin: auto;
}

table {
  width: 100%;
}

th {
  height: 40px;
  background-color: white;
}
.capsule{
position: relative;
}
/* mobile*/
@media screen and (min-width: 600px) {
  .dalkur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .second {
    padding-left: 10px;
    position: relative;
  }
  textarea {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .smart-table thead {
    display: none;
  }
  .smart-table tr,
  .smart-table td {
    display: block;
  }
  .smart-table tr:not(last-child) {
    border-bottom: 5px solid white;
  }
  .smart-table td {
    padding-left: 54%;
    position: relative;
  }
  .smart-table td::before {
    position: absolute;
    padding: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45%;
    content: attr(data-col-title);
    background-color: white;
  }
}
/*# sourceMappingURL=v5.css.map */
